@use "../config/breakpoints" as *;

.Gallery {
  &__card {
    box-shadow: 0px 0px 10px silver;
    padding: 10px;
    overflow: hidden !important;

    img {
      cursor: pointer;
      transition: all 0.7s ease-in;
    }

    &:hover img {
      transform: scale(1.2);
    }
  }

  &.modal {
    .btn-danger {
      position: absolute;
      right: 2%;
      top: 2%;
      z-index: 2;
    }

    .modal {
      &-content {
        border: none !important;
      }

      &-body {
        padding: 0rem !important;
      }
    }

    img {
      height: 600px !important;
      width: 100% !important;
      @include breakpoint-down(sm) {
        height: 330px !important;
      }
    }
  }
}
